<div th:fragment="pagination(pageable, route, extraParams)">
    <nav th:if="${pageable.totalPages > 1}" aria-label="Page navigation">
        <ul class="flex justify-center space-x-2">
            <li th:classappend="${pageable.hasPrevious()} ? '' : 'opacity-50 pointer-events-none'">
                <a class="inline-block px-4 py-2 text-gray-700 bg-gray-200 rounded hover:bg-gray-300"
                   th:href="${utils.generatePaginationUrl(route, pageable.pageable, pageable.number - 1, extraParams)}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, pageable.totalPages - 1)}"
                th:classappend="${page == pageable.number} ? 'bg-blue-500 text-white'">
                <a class="inline-block px-4 py-2 rounded hover:bg-gray-300"
                   th:href="${utils.generatePaginationUrl(route, pageable.pageable, page, extraParams)}"
                   th:text="${page + 1}">1</a>
            </li>
            <li th:classappend="${pageable.hasNext()} ? '' : 'opacity-50 pointer-events-none'">
                <a class="inline-block px-4 py-2 text-gray-700 bg-gray-200 rounded hover:bg-gray-300"
                   th:href="${utils.generatePaginationUrl(route, pageable.pageable, pageable.number + 1, extraParams)}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>