<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:replace="~{layout :: title('Прегледи')}"></title>
</head>

<div layout:fragment="content" class="p-6 bg-gray-50 min-h-64">
    <h1 class="text-2xl font-bold mb-6">Прегледи</h1>
    <form th:action="@{/appointments}" method="get" th:object="${searchForm}" class="mb-6">
        <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-4">
            <select id="diagnose" th:field="*{diagnoseId}" class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                <option value="">Избери диагноза</option>
                <option th:each="diagnose : ${diagnoses}" th:value="${diagnose.id}" th:text="${diagnose.name}"></option>
            </select>
            <select sec:authorize="!hasRole('ROLE_DOCTOR')" th:field="*{doctorId}" class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                <option value="">Избери личен лекар</option>
                <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.fullName}"></option>
            </select>
            <select sec:authorize="!hasRole('ROLE_PATIENT')" th:field="*{patientId}" class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                <option value="">Избери пациент</option>
                <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.fullName}"></option>
            </select>
            <input type="date" th:field="*{startDate}" class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Начална дата"/>
            <input type="date" th:field="*{endDate}" class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Крайна дата"/>
            <button class="w-full bg-blue-600 text-white py-2 px-4 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <i class="fas fa-search mr-2"></i> Търси
            </button>
        </div>
    </form>
    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')" th:href="@{/appointments/create}"
       class="inline-block px-4 py-2 bg-blue-500 text-white rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 mb-6">
        <i class="fas fa-plus mr-2"></i> Добави преглед
    </a>
    <table class="w-full border border-gray-300 bg-white rounded-lg shadow-md">
        <thead class="bg-gray-100">
        <tr>
            <th th:replace="~{components/table-header-sortable :: sortableHeader(${appointments}, '/appointments', 'id', '№', ${utils.toQueryString(searchForm)})}" class="px-4 py-2 text-left text-sm font-medium text-gray-700"></th>
            <th th:replace="~{components/table-header-sortable :: sortableHeader(${appointments}, '/appointments', 'date', 'Дата', ${utils.toQueryString(searchForm)})}" class="px-4 py-2 text-left text-sm font-medium text-gray-700"></th>
            <th th:replace="~{components/table-header-sortable :: sortableHeader(${appointments}, '/appointments', 'doctor.fullName', 'Доктор', ${utils.toQueryString(searchForm)})}" class="px-4 py-2 text-left text-sm font-medium text-gray-700"></th>
            <th th:replace="~{components/table-header-sortable :: sortableHeader(${appointments}, '/appointments', 'patient.fullName', 'Пациент', ${utils.toQueryString(searchForm)})}" class="px-4 py-2 text-left text-sm font-medium text-gray-700"></th>
            <th th:replace="~{components/table-header-sortable :: sortableHeader(${appointments}, '/appointments', 'diagnose.name', 'Диагноза', ${utils.toQueryString(searchForm)})}" class="px-4 py-2 text-left text-sm font-medium text-gray-700"></th>
            <th class="px-4 py-2 text-left text-sm font-medium text-slate-700">Болничен лист</th>
            <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments.content}" class="hover:bg-gray-100">
            <td th:text="${appointment.id}" class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800"></td>
            <td th:text="${appointment.date}" class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800"></td>
            <td th:text="${appointment.doctor.fullName}" class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800"></td>
            <td th:text="${appointment.patient.fullName}" class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800"></td>
            <td th:text="${appointment.diagnose.name}" class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800"></td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800">
                <span th:unless="${appointment.leave == null}">
                    <i>Болничен лист от:</i> <span th:text="${appointment.leave.startDate}"></span>
                </span>
                <span th:if="${appointment.leave == null}" class="inline-block px-2 py-1 text-sm bg-info text-slate-900 rounded">Няма</span>
            </td>
            <td class="px-4 py-2 border-b border-gray-300 text-sm text-gray-800">
                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or (#authentication.principal.id == appointment.doctor.id and #authorization.expression('hasRole(''ROLE_DOCTOR'')'))}"
                   th:href="@{/leaves/create(appointmentId=${appointment.id})}"
                   class="inline-block px-3 py-1 bg-gray-800 text-white rounded-md text-sm shadow hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500">
                    <i class="fas fa-plus mr-2"></i> Добави болничен лист
                </a>
                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or (#authentication.principal.id == appointment.doctor.id and #authorization.expression('hasRole(''ROLE_DOCTOR'')'))}"
                   th:href="@{/appointments/edit/{id}(id=${appointment.id})}"
                   class="inline-block px-3 py-1 bg-blue-500 text-white rounded-md text-sm shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    <i class="fas fa-edit"></i> Редакция
                </a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/appointments/delete/{id}(id=${appointment.id})}"
                   class="inline-block px-3 py-1 bg-red-500 text-white rounded-md text-sm shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400">
                    <i class="fas fa-trash-alt"></i> Изтриване
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="~{components/pagination :: pagination(${appointments}, '/appointments', ${utils.toQueryString(searchForm)})}" class="mt-6"></div>
</div>
</html>